<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcj.xxx.mapper.XxxMapper">
	
	<!-- <cache /> -->
	
	<sql id="qbuilder">
		<where>
			<if test="1==1">t_xxx.state = '1'</if>
			<if test="qbuilder.id != null">AND t_xxx.id = #{qbuilder.id}</if>
			<if test="qbuilder.namelike != null">AND t_xxx.name like #{qbuilder.namelike}</if>
			<if test="qbuilder.timebegin != null">AND t_xxx.time &gt;= #{qbuilder.timebegin}</if>
			<if test="qbuilder.timeend != null">AND t_xxx.time &lt;= #{qbuilder.timeend}</if>
			<if test="qbuilder.imgsvalue != null">AND t_xxx.imgs is not null AND t_xxx.imgs != ''</if>
			<if test="qbuilder.dgcjnotnull != null">AND t_backbone.dgcj is not null</if>
			<if test="qbuilder.dgcjisnull != null">AND t_backbone.dgcj is null</if>
			<if test="qbuilder.states != null">AND t_xxx.state in
				<foreach item="state" index="index" collection="qbuilder.states" open="(" separator="," close=")">
					#{state}
				</foreach>
			</if>
		</where>
	</sql>
	
	<select id="find" resultType="Xxx">
		SELECT * FROM t_xxx
		<!-- 
		SELECT
			t_xxx.*,
			a.name 'aname',
			b.name 'bname'
		FROM
			t_xxx
			LEFT JOIN t_aaa a ON a.id=t_xxx.aid
			LEFT JOIN t_bbb b ON b.id=t_xxx.bid
		 -->
		<if test="qbuilder != null">
			<include refid="qbuilder"/>
		</if>
		<if test="orderby != null">
			ORDER BY t_xxx.${orderby}
		</if>
		<choose>
			<when test="start != null and size != null">
				LIMIT #{start},#{size}
			</when> 
			<when test="start == null and size != null">
				LIMIT #{size}
			</when> 
		</choose>
	</select>
	
	<select id="getTotalRows" resultType="int">
		SELECT COUNT(*) FROM t_xxx
		<if test="qbuilder != null">
			<include refid="qbuilder"/>
		</if>
	</select>
	
	<select id="findById" resultType="Xxx">
		SELECT * FROM t_xxx WHERE id = #{id}
	</select>
	
	<insert id="insert">
		INSERT INTO t_xxx
			(id,name,state)
		VALUES
			(#{object.id},#{object.name},#{object.state})
	</insert>
	
	<update id="update">
		UPDATE t_xxx
		SET
			name = #{object.name},
			gzsfzr_time = now(),
			state = #{object.state}
		WHERE id = #{object.id}
	</update>
	
	<delete id="delete">
		DELETE FROM t_xxx WHERE id = #{id}
	</delete>
	
	<delete id="deleteByIds">
		DELETE FROM t_xxx WHERE id in 
		<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
</mapper>
